@import url(./__content/profile-edit__content.css);
@import url(./__close/profile-edit__close.css);
@import url(./__title/profile-edit__title.css);
@import url(./__form/profile-edit__form.css);
@import url(./__input/profile-edit__input.css);
@import url(./__button/profile-edit__button.css);
@import url(./_is-opened/profile-edit_is-opened.css);

.profile-edit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
