.popup-bigpic__content{
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  height: 100%;
  max-width: 60vw;
  max-height: 80vh;
  background-size: cover !important;
  background-repeat:no-repeat !important;
}


@media screen and (max-width: 540px) {
  .popup-bigpic__content {
    width: calc(100% - 60px);
    background-size: cover;
    background-repeat:no-repeat;
  }
}

